.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.home-card-wrapper {
  padding: 20px 20px 40px 20px;
  text-align: left;
  margin: 20px 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
